<ion-content class="ion-padding">
  <div class="login-container">
    <h1 class="title">Crear cuenta</h1>

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-button expand="block" shape="round" (click)="register()">
      Registrarme
    </ion-button>

    <p class="register-text">
      ¿Ya tienes cuenta?
      <ion-button routerLink="/login" fill="clear" size="small">
        Inicia sesión
      </ion-button>
    </p>
  </div>
</ion-content>
