.login-container {
  max-width: 380px;
  margin: auto;
  margin-top: 80px;
}

.title {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
}

.register-text {
  text-align: center;
  margin-top: 20px;
}
